:root {
    box-sizing: border-box;
    font-size: 20px;
}

.table {
    text-align: center;
    border-radius: 20px;
    border: 5px solid rgb(255, 255, 255);
    border-collapse: collapse;
}

thead {
    color: white;
}
td {
    padding: 10px;

}
span {
    width: 100%;
    display: inline-block;
    padding: 10px 0;
    font-weight: bold;
    font-size: 30px;
}

.bgcblue1 {
    background-color: rgb(120,135,171);
    border-top-left-radius: 25px;
}
.bgcblue2 {
    background-color: rgb(79,98,142);
}
.bgcblue3 {
    background-color: rgb(46,65,114);
}
.bgcblue4 {
    background-color: rgb(22,41,85);
}
.bgcblue5 {
    background-color: rgb(6,21,57);
    border-top-right-radius: 25px;
}

.pre {
    border-bottom-left-radius: 25px;
}
.bbrr {
    border-bottom-right-radius: 25px;
}

.table  tr.first1  td:nth-child(odd) {
    background-color: rgb(219,219,219);
}
.table  tr.first1  td:nth-child(even) {
    background-color: rgb(231,231,231);
}
.table tr.second2 td:nth-child(odd) {
    background-color: rgb(236,236,236);
}
.table tr.second2 td:nth-child(even) {
    background-color: rgb(243,243,243);

}

.btn {
    text-decoration: none;
    background-color: whitesmoke;
    color: black;
    display: inline-block;
    height: 30px;
    width: 70px;
    border-radius: 0;
    border:1px gray solid;
}

.btn:hover {
    text-decoration: none;
    background-color: gray;
    color: white;
}

.btn:focus {
    border:2px aqua solid ;
}