:root {
    box-sizing: border-box;
    font-size: 20px;
}

.table {
    text-align: center;
    border-radius: 20px;
    border-collapse: collapse;
}

thead {
    color: white;
}
td {
    padding: 10px;
}

.table  span {
    width: 100%;
    display: inline-block;
    padding: 10px 0;
    font-weight: bold;
    font-size: 30px;
}

.table > thead td:nth-child(1) {
    background-color: #7887ab;
}
.table > thead td:nth-child(2) {
    background-color: #4f628e;
}
.table > thead td:nth-child(3) {
    background-color: #2e4172;
}
.table > thead td:nth-child(4) {
    background-color: #162955;
}
.table > thead td:nth-child(5) {
    background-color: #061539;
}

.table > tbody tr:nth-child(odd) td:nth-child(odd) {
    background-color: #dbdbdb;
}
.table > tbody tr:nth-child(odd) td:nth-child(even) {
    background-color: #e7e7e7;
}
.table > tbody tr:nth-child(even) td:nth-child(odd) {
    background-color: #f3f3f3;
}
.table > tbody tr:nth-child(even) td:nth-child(even) {
    background-color: white;
}
.table > tfoot tr:nth-child(odd) td:nth-child(odd) {
    background-color: #dbdbdb;
}
.table > tfoot tr:nth-child(odd) td:nth-child(even) {
    background-color: #e7e7e7;
}
.table > thead td:first-child {
    border-top-left-radius: 10px;
}
.table > thead td:last-child {
    border-top-right-radius: 10px;
}
.table > tfoot td:first-child {
    border-bottom-left-radius: 10px;
}
.table > tfoot td:last-child {
    border-bottom-right-radius: 10px;
}


 .btn {
    text-decoration: none;
    background-color: #D3D3D3;
    color: black;
    display: inline-block;
    height: 30px;
    width: 70px;
    border-radius: 0;
    border: 1px gray solid;
}

.btn:hover {
    text-decoration: none;
    background-color: gray;
    color: white;
}

.btn:focus {
    border: 2px aqua solid;
}
